/* variables */

:root {
    --background-image: url(images/bg-desktop-dark.jpg);
    --background-image-mobile: url(images/bg-mobile-dark.jpg);
    --background-colour: hsl(235, 21%, 11%);
    --list-colour: hsl(235, 24%, 19%);
    --active-text-colour: hsl(236, 33%, 92%);
    --completed-text-colour: hsl(234, 11%, 52%);
    --buttons-footer-colour: hsl(234, 11%, 52%);
    --buttons-hover-colour: hsl(236, 33%, 92%);
    --border-colour: hsl(233, 14%, 35%);
    --box-shadow: rgb(0 0 0 / 30%);
    font-size: 18px;
}

/* checkbox */

.checkbox {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.activeItem::before {
    content: '';
    width: 1em;
    height: 1em;
    border: .05em solid var(--border-colour);
    border-radius: 50%;
    margin-right: .5em;
}

.activeItem:hover::before {
    border-color: hsl(220, 98%, 61%);
}

.completedItem::before {
    content: url(images/icon-check.svg);
    width: 1em;
    height: 1em;
    background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border: .05em solid transparent;
    border-radius: 50%;
    margin-right: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* for desktop */

body {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: var(--background-colour);
    background-size: contain;
    position: relative;
    min-height: 100vh;
}

#headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 31%;
    margin: 5vh auto 2vh;
}

#title {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 2rem;
    color: hsl(0, 0%, 98%);
    letter-spacing: 1rem;
}

#viewModeIcon {
    cursor: pointer;
}

#textInputDiv {
    text-align: center;
    margin: 0 auto;
    width: 30vw;
    padding: 1%;
    background-color: var(--list-colour);
    border-radius: 5px;
    box-shadow: 0 1em 2.5em 0.1em var(--box-shadow);
}

#textInput {
    width: 80%;
    font-size: 1rem;
    background-color: var(--list-colour);
    border: none;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: var(--active-text-colour);
}

#fullListDiv {
    margin: 1.5vw auto;
    width: 32vw;
    background-color: var(--list-colour);
    border-radius: 5px;
    box-shadow: 0 1em 2.5em 0.1em var(--box-shadow);
}

.activeItem {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 1rem;
    color: var(--active-text-colour);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3% 4%;
    border-bottom: .05em solid var(--border-colour);
}

.activeItem:focus-within {
    border-bottom: .05em solid hsl(220, 98%, 61%);
}

.completedItem {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--completed-text-colour);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3% 4%;
    border-bottom: .05em solid var(--border-colour);
}

.completedItem:focus-within {
    border-bottom: .05em solid hsl(220, 98%, 61%);
}

.deleteBtn {
    cursor: pointer;
    margin-left: auto;
    padding: 1%;
    opacity: 0;
    border: .05em solid;
    width: 2em;
    height: 2em;
}

.activeItem:hover > .deleteBtn, .completedItem:hover > .deleteBtn, .deleteBtn:focus {
    background-image: url(images/icon-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: .05em solid transparent;
    opacity: 100;
}

#listFooterDiv {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 1% 0;
}

#itemsLeftText {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: .8rem;
    color: var(--buttons-footer-colour);
}

#listButtonsDiv {
    display: flex;
}

#listButtonsDivMobile {
    display: none;
}

.footerBtn {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: .8rem;
    color: var(--buttons-footer-colour);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footerBtn:hover {
    color: var(--buttons-hover-colour);
}

[aria-pressed="true"] {
    color: hsl(220, 98%, 61%);
}

#clearBtn {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: .8rem;
    color: var(--buttons-footer-colour);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#clearBtn:hover {
    color: var(--buttons-hover-colour);
}

#dragDropText {
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: .8rem;
    font-weight: 400;
    color: var(--buttons-footer-colour);
    margin-top: 3vw;
    padding-bottom: .8rem;
}

.attribution {
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: .8rem;
    font-weight: 400;
    color: var(--buttons-footer-colour);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .8rem;
}

a.attribution {
    color: hsl(220, 98%, 61%);
}

/* drag and drop */

.dragging {
    opacity: .5;
}

.dragOver {
    border: .1em dashed hsl(220, 98%, 61%);
}

/* for mobile */

@media only screen and (max-width: 375px) {
    body {
        background-image: var(--background-image-mobile);
    }

    #headerDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        margin: 3vh auto 2vh;
    }

    #title {
        font-size: 8vw;
        letter-spacing: 3vw;
    }

    #viewModeIcon {

    }

    #textInputDiv {
        width: 83vw;
        padding: 4vw 3vw;
    }

    #textInput {
        font-size: .8rem;
    }

    #fullListDiv {
        width: 89vw;
        margin: 5vw auto;
    }

    .activeItem::before {
        width: 1.3em;
        height: 1.3em;
    }

    .activeItem {
        padding: 5% 6%;
        font-size: .8rem;
    }

    .completedItem::before {
        width: 1.3em;
        height: 1.3em;
    }

    .completedItem {
        padding: 5% 6%;
        font-size: .8rem;
    }

    .deleteBtn {
        background-image: url(images/icon-cross.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border: .05em solid transparent;
        opacity: 100;
        width: 1em;
        height: 1em;
    }

    #listFooterDiv {
        justify-content: space-between;
        padding: 2% 5%;
    }

    #itemsLeftText {
        font-size: .7rem;
    }

    #clearBtn {
        font-size: .7rem;
    }

    #listButtonsDiv {
        display: none;
    }

    #listButtonsDivMobile {
        display: flex;
        align-items: baseline;
        justify-content: center;
        background-color: var(--list-colour);
        border-radius: 5px;
        width: 89vw;
        margin: 5vw auto;
        padding: 4vw 0;
        box-shadow: 0 1em 2.5em 0.1em var(--box-shadow);
    }

    .footerBtn {

    }

    #dragDropText {
        margin-top: 5vh;
        font-size: .7rem;
    }

    .attribution {
        font-size: .7rem;
    }
}