body {
    background-image: url(images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: hsl(235, 21%, 11%);
}

#headerDiv {
    width: 31%;
    margin: 0 auto;
}

#title {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 3vw;
    color: hsl(0, 0%, 98%);
    display: inline-block;
    letter-spacing: 1vw;
}

#viewModeIcon {
    display: inline-block;
    float: right;
    margin: 8% 0;
    cursor: pointer;
}

#textInputDiv {
    text-align: center;
    margin: 0 auto;
    width: 30%;
    padding: 1%;
    background-color: hsl(237, 14%, 26%);
    border-radius: 5px;
}

#textInput {
    width: 80%;
    font-size: 18px;
    background-color: hsl(237, 14%, 26%);
    border: none;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: hsl(0, 0%, 98%);
}

#fullListDiv {
    text-align: center;
}

#dragDropText {
    text-align: center;
}

.attribution {
    text-align: center;
}