/* variables */

:root {
    --background-image: url(images/bg-desktop-dark.jpg);
    --background-colour: hsl(235, 21%, 11%);
    --list-colour: hsl(235, 24%, 19%);
    --active-text-colour: hsl(236, 33%, 92%);
    --completed-text-colour: hsl(234, 11%, 52%);
    --buttons-footer-colour: hsl(234, 11%, 52%);
    --buttons-hover-colour: hsl(236, 33%, 92%);
    --border-colour: hsl(233, 14%, 35%);
}

/* checkbox */

.checkbox {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.activeItem::before {
    content: '';
    width: 1em;
    height: 1em;
    border: .05em solid var(--border-colour);
    border-radius: 50%;
    margin-right: .5em;
}

.activeItem:hover::before {
    border-color: hsl(192, 100%, 67%);
}

.completedItem::before {
    content: url(images/icon-check.svg);
    width: 1em;
    height: 1em;
    background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border: .05em solid transparent;
    border-radius: 50%;
    margin-right: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}









body {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: var(--background-colour);
}

#headerDiv {
    width: 31%;
    margin: 0 auto;
}

#title {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 3vw;
    color: hsl(0, 0%, 98%);
    display: inline-block;
    letter-spacing: 1vw;
}

#viewModeIcon {
    display: inline-block;
    float: right;
    margin: 8% 0;
    cursor: pointer;
}

#textInputDiv {
    text-align: center;
    margin: 0 auto;
    width: 30%;
    padding: 1%;
    background-color: var(--list-colour);
    border-radius: 5px;
}

#textInput {
    width: 80%;
    font-size: 18px;
    background-color: var(--list-colour);
    border: none;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: var(--active-text-colour);
}

#fullListDiv {
    margin: 1.5% auto;
    width: 32%;
    background-color: var(--list-colour);
    border-radius: 5px;
}

.activeItem {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    color: var(--active-text-colour);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3% 4%;
    border-bottom: .05em solid var(--border-colour);
}

.completedItem {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    text-decoration: line-through;
    color: var(--completed-text-colour);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3% 4%;
    border-bottom: .05em solid var(--border-colour);
}

.deleteBtn {
    cursor: pointer;
    margin-left: auto;
    padding: 10px;
    opacity: 0;
    border: .05em solid;
}

.activeItem:hover > .deleteBtn, .completedItem:hover > .deleteBtn {
    background-image: url(images/icon-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: .05em solid transparent;
    opacity: 100;
}

#listFooterDiv {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 1% 0;
}

#itemsLeftText {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 14px;
    color: var(--buttons-footer-colour);
}

#listButtonsDiv {
    display: flex;
}

.footerBtn {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 14px;
    color: var(--buttons-footer-colour);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footerBtn:hover {
    color: var(--buttons-hover-colour);
}

[aria-pressed="true"] {
    color: hsl(220, 98%, 61%);
}

#clearBtn {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 14px;
    color: var(--buttons-footer-colour);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#clearBtn:hover {
    color: var(--buttons-hover-colour);
}

#dragDropText {
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 14px;
    font-weight: 400;
    color: var(--buttons-footer-colour);
    margin-top: 3%;
}

.attribution {
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 14px;
    font-weight: 400;
    color: var(--buttons-footer-colour);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

a.attribution {
    color: hsl(228, 45%, 44%);
}

/* drag and drop */

.dragging {
    opacity: .5;
}

.dragOver {
    border: .1em dashed hsl(220, 98%, 61%);
}